# TYPE  DATABASE        USER            ADDRESS                 METHOD
# Database administrative login by Unix domain socket
local   all             postgres                                trust
# Local connections
host    all             all             127.0.0.1/32            trust
host    all             all             ::1/128                 trust
# Program connections
{% for config in db_users %}
host    {{ config.database }}             {{ config.user }}             {{ config.host }}             md5
{% endfor %}