standby_mode = 'on'
primary_conninfo = 'user={{ db_replication.user }} password={{ db_replication.password }} host={{ master_host }} port=5432 sslmode=prefer sslcompression=0 gssencmode=prefer krbsrvname=postgres target_session_attrs=any'
trigger_file = '{{ postgres_data_dir }}/replication.finish'
